main {
    margin-top: 0;
}

.form-login {
    margin: auto;
    max-width: 90%;
    text-align: center;
}

.form-login div {
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.form-login input {
    width: 80%;
    text-align: center;
    border: solid 1px #c4c0c0;
    border-radius: 5px;
    font-size: 20px;
}

.form-login button {
    width: 80%;
    margin-bottom: 5px;
    border: none;
    padding: 5px;
    background-color: rgb(178, 175, 175);
    border-radius: 5px;
    font-size: 20px;
    transition-property: all;
    transition-duration: 0.5s;
}

.form-login button:hover {
    color: #FFF;
    background-color: #0022AA;
}

@media (min-width: 768px) {
    .form-login div {
        max-width: 600px;
    }
}