.formulario-register {
    margin: auto;
    max-width: 50%;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.confirmar-contraseña input,
.contraseña input,
.domicilio input,
.email input,
.usuario input,
.nombreApellido input {
    border: none;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    border-radius: 8px;
}

.titulo-nacimiento {
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

.fechaNacimiento {
    font-size: 15px;
}

.label-perfil {
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

.perfil-usuario {
    font-size: 15px;
}

.formulario-register div {
    margin-bottom: 20px;
}

.titulo-foto {
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

.foto-usuario input {
    display: block;
    font-size: 15px;
}

.confirmar-contraseña label,
.contraseña label {
    display: block;
}

.intereses {
    margin: auto;
}

.titulo-intereses {
    font-size: 25px;
    display: block;
}

.intereses label {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}

.formulario-register button {
    border: none;
    padding: 5px;
    background-color: rgb(178, 175, 175);
    width: 70%;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 20px;
    transition-property: all;
    transition-duration: 0.5s;
}

.formulario-register button:hover {
    background-color: #0022AA;
    color: #FFF;
}

@media (min-width: 768px) {
.confirmar-contraseña input,
.contraseña input,
.domicilio input,
.email input,
.usuario input,
.nombreApellido input {
    max-width: 70%;
}
}