* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


/* Header */
.main-header {
    background-color: #EAC926;
    padding: 20px;
}
.main-header-top-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.main-header-top-bar a {
    width: 45%;
}

.barra-busqueda {
    padding: 5px;
    width: 40%;
    margin-left: 5px;
    background-color: #FFF;
    border-radius: 10px;
}

.barra-busqueda input {
    width: 85%;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}

.barra-busqueda i {
    font-size: 15px;
}

.copy-header {
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 400;
    text-align: center;
}

/* Menu hamburguesa */
.hamburguer-button {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

/* Links */
.main-navbar {
    display: none;
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a {
    text-decoration: none;
    color: #414040;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    transition: color 250ms;
}
.main-navbar a:hover {
    color: black;
}


/* Banner */
.banner {
    width: 100%;
}
    
/* Main */
main {
    margin: -5px 0 10px 0;
    padding: 10px 0;
    background-color: #ebebeb;
}

.titulares {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 24px;
}

.secciones-articulos article {
    padding: 5px 0;
    margin: 5%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #ebebeb, -0.5px 0.5px 0.5px #ebebeb;
    transition: box-shadow 250ms;
    border-radius: 5px;
}
.secciones-articulos article:hover {
    box-shadow: 5px 5px 5px #a4a3a3, -2.5px 2.5px 2.5px #a4a3a3;
}

.secciones-articulos article img {
    width: 100%;
}

.detalle-producto {
    border-top: solid 1px #f2e3e3;
}

.articulo-precio {
    margin-left: 5%;
    font-size: 18px;
    display: inline;
}

.articulo-descuento {
    width: 70%;
    display: inline;
    font-size: 16px;
    color: rgb(63, 152, 63);
}

.articulo-descuento + h4 {
    margin: 2% 5% 5%;
    font-size: 16px;
}

#icono-camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    margin-left: 5%;
}

    

/* Footer */
.main-footer {
    margin-top: 50px;
}

.main-footer section {
    text-align: center;
    margin: 0px 35px 5px 35px;
}

.copyrigth {
    text-align: left;
    margin: 0;
}

.main-footer h3 {
    color: #101010;
}

.main-footer p {
    color: #666;
    font-size: 20px;
}

.copyrigth {
    margin: 5px 10px;
    margin-left: 10px;
    color: #ebebeb;
}

.main-footer i {
    font-size: 50px;
    color: #1259c3;
}

@media (min-width: 768px) {
    .secciones-articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .secciones-articulos article {
        margin: 5% 0% 5% 0%;
        max-width: 45%;
    }

    .titulares {
        margin-left: 3%;
    }

    .main-header-top-bar {
        display: flex;
        justify-content: space-around;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button {
        display: none;
    }
    .main-navbar {
        
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 250px;
    }
    .main-navbar,
    .main-header-top-bar {
        max-width: 1200px;
        margin: auto;
    }



    .secciones-articulos article {
        max-width: 23%;
        margin: 5% 0% 5% 0%;
    }

    .titulares {
        margin-left: 2%;
    }

    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    .main-navbar {
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }

    .secciones-footer {
        display: flex;
    }
}
