<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/511b878d3a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="main-header">

            <!-- (Logo - Barra busqueda - Titulo compra en cuotas) -->
            <div class="main-header-top-bar">
                <a href="/"><img class="logo" src="img\logo-mercado-liebre.svg" alt="Logo MercadoLiebre"></a>
                <div class="barra-busqueda">
                    <input type="text">
                    <i id="icono-lupita" class="fa-solid fa-magnifying-glass"></i>
                </div>
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito
                </h2>
            </div>
            
            <!-- Menu hamburguesa -->
            <a href="#" class="hamburguer-button">
                <i id="menu-burger" class="fas fa-bars"></i>
            </a>
            
            <!-- Links -->
            <nav class="main-navbar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul>
                    <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>

        </header>
        
        <!-- Banner -->
        <section>
            <img class="banner" src="img/img-home-banner.jpg" alt="">  
        </section>


        <main>

            <!-- Basado en tu ultima vista - Articulos -->
            <h2 class="titulares">Basado en tu ultima vista</h2>
            <section class="secciones-articulos">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="detalle-producto">
                        <i id="icono-camion" class="fa-solid fa-truck-fast"></i>
                        <p class="articulo-precio">$6.770</p>
                        <p class="articulo-descuento">40% off</p>
                        <h4>Cafetera moulinex</h4>
                    </div>
                </article>   

                <article>
                    <img src="\img\img-macbook-pro-2019.jpg" alt="">
                    <div class="detalle-producto">
                        <i id="icono-camion" class="fa-solid fa-truck-fast"></i>
                        <p class="articulo-precio">$230.000</p>
                        <p class="articulo-descuento">20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="detalle-producto">
                        <i id="icono-camion" class="fa-solid fa-truck-fast"></i>
                        <p class="articulo-precio">$70.500</p>
                        <p class="articulo-descuento">10% off</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="detalle-producto">
                        <i id="icono-camion" class="fa-solid fa-truck-fast"></i>
                        <p class="articulo-precio">$23.200</p>
                        <p class="articulo-descuento">5% off</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>

            <!-- Ofertas - Articulos -->
            <h2 class="titulares">Ofertas</h2>
            <section class="secciones-articulos"> 

                <article>    
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="detalle-producto">   
                        <i id="icono-camion" class="fa-solid fa-truck-fast"></i>
                        <p class="articulo-precio">$6.770</p>
                        <p class="articulo-descuento">40% off</p>
                        <h4>Cafetera moulinex</h4>
                    </div>
                </article>

                <article>
                    <img src="\img\img-macbook-pro-2019.jpg" alt="">
                    <div class="detalle-producto">
                        <i id="icono-camion" class="fa-solid fa-truck-fast"></i>
                        <p class="articulo-precio">$230.000</p>
                        <p class="articulo-descuento">20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="detalle-producto">
                        <i id="icono-camion" class="fa-solid fa-truck-fast"></i>
                        <p class="articulo-precio">$70.500</p>
                        <p class="articulo-descuento">10% off</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="detalle-producto">
                        <i id="icono-camion" class="fa-solid fa-truck-fast"></i>        
                        <p class="articulo-precio">$23.200</p>
                        <p class="articulo-descuento">5% off</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
        </main>

        <footer class="main-footer">

            <div class="secciones-footer">
                <section>
                    <i id="icono-tarjeta" class="fa-solid fa-credit-card"></i>
                    <h3>Paga con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>
    
                <section>
                    <i id="icono-paquete" class="fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $10.000</h3>
                    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>
    
                <section>
                    <i id="icono-persona" class="fa-solid fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section>
            </div>

            <p class="copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </footer>
    </body>
</html>